* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background: #f7f7f7 0% 0% no-repeat padding-box;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border: 0px solid #008cff;
  background-color: bisque;
}

.address-text {
  font: normal normal bold 22px/25px Arial;
  font-family: "Montserrat", sans-serif;
  color: #008cff;
  text-transform: uppercase;
}